{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Add New TO-DO Item</h2>
      <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=60) }}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(size=60) }}
        </p>
        <p>{{ form.submit() }}</p>
      </form>
    </div>
  </div>

  <br/>
  <br/>
  
  <p></p>
  <div class="row">
    <div class="col-md-12">
      <h2>Items Not Started</h2>
      <ul class="list-group mb-4">
        <table>
          <th></th>
          <th>Item ID</th>
          <th></th>
          <th>TITLE</th>
          <th></th>
          <th>DESCRIPTION</th>
          <th></th>
          {% for task in view_model.todo_items %}
          <tr>
            <td><a class="btn btn-secondary btn-sm" href="{{ url_for('remove_task', id=task.id) }}" role="button">Remove</a></td>
            <td>{{task.id}}</td> 
            <td></td>
            <td>{{task.title}}</td> 
            <td></td>
            <td>{{task.description}}</td> 
            <td></td>
            <td><a class="btn btn-primary" href="{{ url_for('in_progress', id=task.id) }}" role="button">Move to In Progress</a></td>
          </tr>
          {% endfor %}
        </table>
      </ul>

      <h2>In Progress Items</h2>
      <ul class="list-group mb-4">
        <table>
          <th></th>
          <th>Item ID</th>
          <th></th>
          <th>TITLE</th>
          <th></th>
          <th>DESCRIPTION</th>
          <th></th>
          {% for task in view_model.in_progress_items %}
          <tr>
            <td><a class="btn btn-secondary btn-sm" href="{{ url_for('remove_task', id=task.id) }}" role="button">Remove</a></td>
            <td>{{task.id}}</td> 
            <td></td>
            <td>{{task.title}}</td> 
            <td></td>
            <td>{{task.description}}</td> 
            <td></td>
            <td><a class="btn btn-success" href="{{ url_for('completed', id=task.id) }}" role="button">Mark as Completed</a></td>
          </tr>
          {% endfor %}
        </table>
      </ul>

      <h2>Completed Items</h2>
      <ul class="list-group mb-4">
        <table>
          <th></th>
          <th>Item ID</th>
          <th></th>
          <th>TITLE</th>
          <th></th>
          <th>DESCRIPTION</th>
          <th></th>
          {% for task in view_model.show_all_done_items%}
          <tr>
            <td><a class="btn btn-secondary btn-sm" href="{{ url_for('remove_task', id=task.id) }}" role="button">Remove</a></td>
            <td>{{task.id}}</td> 
            <td></td>
            <td>{{task.title}}</td> 
            <td></td>
            <td>{{task.description}}</td> 
            <td></td>
            <td><a class="btn btn-light" href="{{ url_for('not_started', id=task.id) }}" role="button">Back to Not Started</a></td>
          </tr>
          {% endfor %}
          
          {% if view_model.total_completed_items > 4%}
          </table>
          <details>
            <summary>Older Completed Items</summary>
                <p>
                  <table>
                    <th></th>
                    <th>Item ID</th>
                    <th></th>
                    <th>TITLE</th>
                    <th></th>
                    <th>DESCRIPTION</th>
                    <th></th>
                  {% for task in view_model.older_done_items%}
                    <tr>
                      <td><a class="btn btn-secondary btn-sm" href="{{ url_for('remove_task', id=task.id) }}" role="button">Remove</a></td>
                      <td>{{task.id}}</td> 
                      <td></td>
                      <td>{{task.title}}</td> 
                      <td></td>
                      <td>{{task.description}}</td> 
                      <td></td>
                      <td><a class="btn btn-light" href="{{ url_for('not_started', id=task.id) }}" role="button">Back to Not Started</a></td>
                    </tr>
                  {% endfor %}
                </p>
            </details>
          {% endif %}
        </table>
      </ul>
    </div>
  </div>
{% endblock %}